<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eley.dao.sysUserMapper">
  <resultMap id="BaseResultMap" type="eley.model.sysUser">
    <result column="ID" jdbcType="CHAR" property="ID" />
    <result column="NAME" jdbcType="CHAR" property="NAME" />
    <result column="AGE" jdbcType="CHAR" property="AGE" />
  </resultMap>
  <insert id="insert" parameterType="eley.model.sysUser">
    insert into demo.SYS_USER (ID, NAME, AGE)
    values (#{ID,jdbcType=CHAR}, #{NAME,jdbcType=CHAR}, #{AGE,jdbcType=CHAR})
  </insert>

  <insert id="insertSelective" parameterType="eley.model.sysUser">
    insert into SYS_USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        ID,
      </if>
      <if test="NAME != null">
        NAME,
      </if>
      <if test="AGE != null">
        AGE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        #{ID,jdbcType=CHAR},
      </if>
      <if test="NAME != null">
        #{NAME,jdbcType=CHAR},
      </if>
      <if test="AGE != null">
        #{AGE,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>